body{
    font-family: 'Roboto', sans-serif;
}

h1.title{

    font-size: 2.1rem;
    font-weight: bolder;
    color: darkred;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

ul.menu{
    background-color: rgb(0, 255, 174);
    width: 300px;
    line-height: 3rem;
    border-radius: 10px;
  

}

ul.menu li{
    list-style-type: "🤖";
    font-size: 1.4rem;
    padding-left: 5px;

}
ul.menu li a{
    text-decoration: none;
}


p.content{
text-align: justify;
font-style: italic;
font-family:"Dancing script", cursive;
font-size: 1.5rem;

}