.chkBox{
    display: none;
}

p.content{

    text-align: justify;
}

.chkBox:checked+p.content{

    background-color: rgb(10, 10, 10);
    color: rgb(213, 219, 224);
    font-size: 1.3rem;
}

.btn-mode{
    display: inline-block;
    margin-top: 3rem;
    background-color: blueviolet;
    padding: 10px ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px greenyellow solid;
    text-align: center;
    line-height: 35px;
}