h1.title{
    color: blue;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.divEl{
    width: 200px;
    height: 150px;
    background-color: violet;
    transform: translate(70%,50%) rotate(270deg) scale(1.3);
}

.iPhone14{
    transform: translate(100px,120px) rotate(90deg) scaleY(1.2);

}
