.title {
  color: blue;
  text-align: center;
  background-color: aqua;
  transition: background-color 2s, color 3s;
}

.title:hover {
  background-color: violet;
  color: rgb(80, 255, 71);
  cursor: pointer;
}

.box {
  width: 200px;
  height: 200px;
  margin: 3rem;
}

.box-1 {
  background-color: red;
  border-radius: 50%;
  transition: background-color ease-in 2s, border-radius ease-out 2s;
}

.box-1:active {
  background-color: turquoise;
  border-radius: 0;
  cursor: pointer;
}

.btn {
  background-color: teal;
  display: inline-block;
  padding: 10px;
  margin: 5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  border: 3px solid rgb(4, 255, 0);
  cursor: pointer;
  transition: all linear 0.2s;
}

.btn:active {
  background-color: rgb(132, 203, 132);
  border: none;
  color: violet;
  transform:scaleX(2.5) rotate(235deg) translate(-180%) ;
}

.box-2{
    background-color: royalblue;
    transition: all linear 0.5s;

}
.box-2:hover{
    background-color: rgb(80, 255, 71);
    border-radius: 39%;
    cursor: pointer;
    transform: translateX(100px);
}