.title {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 2.5rem;
  margin: 2rem;
}

.title-1{
    text-shadow: 3px 5px 2px  green, 1px 0 3px red;
}

.title-2{
    text-shadow: 13px 10px 4px rgb(107, 22, 107);
}

.title-3{
    box-shadow:5px 5px  10px blue; 
}

.title-4{
    box-shadow:2px 5px 10px tomato,0 0 4px rgb(34, 178, 53); 
}